<div id="upper_menu" class="row custom_container">
    <div id="usr_info" class="col-md-12 col-sm-12 row">
        <div id="upper_left" class="col-md-6 col-sm-6"></div>
        <div id="upper_right" class="col-md-6 col-sm-6"></div>
    </div>
    <div id="notifications" class="col-md-12 col-sm-12"></div>
</div>
<div id="ecg_container1" class="row custom_container">
    <div id="ecg_stats1" class="col-md-3 col-sm-3 custom_col"></div>
    <div id="ecg_graphs1"class="col-md-9 col-sm-9 custom_col">
        <div id="11" class="ecg_div"></div>
        <div id="12" class="ecg_div"></div>
        <div id="13" class="ecg_div"></div>
        <div id="14" class="ecg_div"></div>
    </div>
</div>
<div id="ecg_container2" class="row custom_container">
        <div id="ecg_stats2" class="col-md-3 col-sm-3 custom_col"></div>
        <div id="ecg_graphs2"class="col-md-9 col-sm-9 custom_col">
            <div id="21" class="ecg_div2"></div>
            <div id="22" class="ecg_div2"></div>
        </div>
</div>
<div id="menu_bar" class="row custom_container"><!--rename those ids-->
    <div id="options" class="col-md-2 col-sm-2 menu_item"></div>
    <div id="view" class="col-md-2 col-sm-2 menu_item"></div>
    <div id="home"class="col-md-2 col-sm-2 menu_item"></div>
    <div id"cardio_thingy" class="col-md-2 col-sm-2 menu_item"></div>
    <div id="cardio_graph" class="col-md-2 col-sm-2 menu_item"></div>
</div>
<script src="http://127.0.0.1:8088/js/script.js"></script>